<main>
    <div class="titlecard-header">
        <h1 class="title">{{userName}}'s Decks:</h1>
    </div>
    <div id="error" class="error" hidden>{{errorMessage}}</div>
    <div class="deck-page-content">
        <div class="deck-page-column">
            <h2>Create a new deck</h2>
            <form action="/protected/decks" method="POST" id="create-deck-form" class="create-deck-form">
                    <label for="decknameInput">Deck name:<input id="decknameInput" type="text" name="decknameInput"></label><br>
                    <label for="decksubjectInput">Deck subject:<input id="decksubjectInput" type="text" name="decksubjectInput"></label>
                    <button type="submit" class="submit-button">Create Deck</button>
            </form>
        </div>
        <div class="spacer"></div>
        <div class="deck-page-column">
            <h2>My Decks</h2>
            <ol id="deck-list" class="deck-list">
                {{#each deck}}
                    <li><a href="decks/{{this._id}}">{{this.name}}</a> - Subject: {{this.subject}} </li>
                {{/each}}
            </ol>
        </div>
    </div>
<<<<<<< HEAD

    <nav>
        <a href="/protected">Back to your profile</a>
    </nav>
=======
    <footer>
        <a href="/protected/publicdecks">Browse public decks</a>
    </footer>
>>>>>>> 2c83715455456cab225466920281d9e8ec4fd087
</main>
