<main>
    <h1 id="deckName" class="deckName">{{deckName}}: Flashcards</h1>

    <div>
        <span class="flashcard-box"> {{backText}} </span>
    </div>

    <br>
    <div>
        <a href="/protected/decks/{{deckID}}/flashcards/{{cardNumber}}/front">Flip to front</a>
    </div>

    <br><br>
    <form method="POST" action="/protected/decks/{{deckID}}/flashcards/{{nextCardNumber}}/back" id="flashcard-correct-form" class="flashcard-correct-form">
        <p>Did you get it correct?</p>
        <input type="radio" id="correct" name="isCorrect" value="Yes">
        <label for="yes">Yes</label>
        <input type="radio" id="incorrect" name="isCorrect" value="No">
        <label for="no">No</label><br>

        <br><br>
        <label for="markedAsDone">Mark as done</label>
        <input id="markedAsDone" type="checkbox" name="markedAsDone">

        {{#if isLastCard}}
            {{!-- <button type="submit" id="flashcard-finish-button"> Finish --}}
        {{else}}
            <button type="submit" id="flashcard-right-arrow-button"> 〉
        {{/if}}</button>
    </form>

    <footer><nav>
        <a href="/protected/decks/{{deckID}}">Back to this deck</a>
    </nav></footer>
</main>
