<main>
    <h1 id="deckName" class="deckName">{{deckName}}: Flashcards</h1>

    <div><span class="flashcard-box"> {{frontText}} </span></div>

    <br>
    <div>
        <a href="/protected/decks/{{deckID}}/flashcards/{{cardNumber}}/back">Flip to back</a>
    </div>

    <footer><nav>
        <a href="/protected/decks/{{deckID}}">Back to this deck</a>
    </nav></footer>
</main>
