<main>
    <h1>Browsing public decks</h1>
    <ol>
    {{#each publicDeck}}
        {{#if loggedIn}}
            <li><a href="/protected/publicdecks/{{this._id}}">{{this.name}} - Subject: {{this.subject}}</a></li>
        {{else}}
            <li><a href="/browsepublicdecks/{{this._id}}">{{this.name}} - Subject: {{this.subject}}</a></li>
        {{/if}}
    {{/each}}
    </ol>
        <nav>
            <a href="/protected/decks">Go to your decks</a>
        </nav>
</main>