<main>
    <h1 id="deckName" class="deckName">{{deckName}}</h1>
    <h2 id="deckSubject" class="deckSubject">{{subject}}</h2>
    <p>Create a new card:</p> <br>
    <div id="error" class="error" hidden>{{errorMessage}}</div>
    <form action="/protected/decks" method="POST" id="create-card-form" class="create-card-form">
        <label for="cardFrontInput">Front</label>
        <input id="cardFrontInput" type="text" name="cardFrontInput"><br>
        <label for="cardBackInput">Back</label>
        <textarea id="cardBackInput" name="cardBackInput" rows="4" cols="30"></textarea> <br>
        <button type="submit">Add card</button>
    </form> <br>
    <ol id="card-list" class="card-list">
        <!--Same schema as submitted by the AJAX request. Not strictly necessary but looks consistent-->
        {{#each card}}            
            <li><a href="/protected/decks/{{../id}}/cards/{{this.front}}"> {{this.front}} : {{this.back}}</a></li>
        {{/each}}
    </ol>
    <div id="error2" class="error2" hidden>{{errorMessage2}}</div>
    <form action="/protected/decks/{{id}}" id="edit-deck-form" class="edit-deck-form">
        <label for="newDeckName">Enter new deck name</label> <br>
        <input id="newDeckName" type="text" name="newDeckName"> <br>
        <label for="newDeckSubject">Enter new deck subject</label> <br>
        <input id="newDeckSubject" type="text" name="newDeckSubject"> <br>
        <label for="isDeckPublic">Is this deck public?</label>
        {{#if public}}          <!-- if the deck is already public -->
            <input id="isDeckPublic" type="checkbox" name="isDeckPublic" checked>
        {{else}}
            <input id="isDeckPublic" type="checkbox" name="isDeckPublic">
        {{/if}}
        <button type="submit">Update deck</button>
    </form>
    <nav>
        <div class="align-right">
            <button type="submit" class="delete-deck" id="delete-deck">Delete this deck</button>
        </div>
        
        <a href="/decks/{{id}}/flashcards">Practice this deck with flashcards here!</a>
        <a href="/protected/decks">Back to your decks</a>
    </nav>
</main>
