<main>
    <h1>{{deckName}}</h1>
    <div id="error" class="error" hidden>{{errorMessage}}</div>
    <link rel="stylesheet" href="/public/css/style.css">
    <form action="/protected/decks" method="POST" id="create-card-form" class="create-card-form">
        <p>Create a new card:</p> <br>
        <label for="cardFrontInput">Front</label>
        <input id="cardFrontInput" type="text" name="cardFrontInput"> <br>
        <label for="cardBackInput">Back</label>
        <textarea id="cardBackInput" type="textarea" name="cardBackInput" rows="4" cols="30"></textarea> <br>
        <button type="submit">Add card</button>
    </form>
    
    <ol id="card-list" class="card-list">
        {{#each card}}
            <li><a href="decks/{{this._id}}"> {{this.front}} : {{this.back}}</a></li>
        {{/each}}
    </ol>
</main>